.designProfile {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10%;
    background-color: rgb(18, 19, 19);
    color: white;
    height: 100vh;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.send-button, .out-button {
        height: 3em;
        width: 10em;
        background-color: rgb(223, 62, 33);
        color: white;
        border-radius: 0.2em;
        display: flex;
        margin-top: 2em;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        cursor: pointer;
}

input {
    height: 3em;
    width: 25em;
    margin: 1em;
}