.slider {
    text-align: center;
    font-family: sans-serif;
    margin-top: 0vh;
    position: absolute;
    width: 100%;
    top: 90%;
}

.card {
    width: 310px;
    height: 200px;
    background-color: red;
    font-size: 30px;
    padding: 0;
}

/*arrow buttons are targeted*/
.jRFJkP {
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-size: 1.6em;  
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
    height: 0px!important;
    width: 0px!important;
}


/*pagination targeted*/

#root > div > div.slider > div > div.sc-iCfMLu.gZZBOx.rec.rec-pagination {
    visibility: hidden;
}
